body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  min-height: 100vh;
  padding-top: var(--bs-gutter-x,.75rem);

  @include media-breakpoint-up(md) {
    padding-top: initial;
  }

  > div.row {
    min-height: inherit;

    > div {
      min-height: inherit;
    }
  }
}

.login-form {
  max-width: 384px;
}

.show-password-button {
  cursor: pointer;
}
